{% extends "admin/_layout.html" %}
{% block content %}

<main id="main" class="main">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

  <div class="pagetitle px-3">
    <h1>Presensi Pegawai</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('dashboard_admin') }}">Home</a></li>
        <li class="breadcrumb-item">Tabel</li>
        <li class="breadcrumb-item active">Data Presensi</li>
      </ol>
    </nav>
  </div>

  <section class="section px-3">
    <div class="row">

      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <div class="row text-center pt-3">

              <div class="col-sm-8 col-md-8">
                <div class="input-group">
                  <input type="text" class="form-control datepicker" id="start_date" placeholder=" Tanggal Awal"
                    fdprocessedid="r3y5ti">
                  <span class="input-group-text">-</span>
                  <input type="text" class="form-control datepicker" id="end_date" placeholder=" Tanggal Akhir"
                    fdprocessedid="hkrcf">
                </div>
              </div>

              <div class="col-sm-4 col-md-4 pt-1">
                <button type="button" id="tampilkan-btn" class="btn btn-green btn-sm text-dark">Tampilkan</button>
                <button type="button" id="cetak-btn" class="btn btn-burnt1 btn-sm">Cetak</button>
                <button type="button" id="clear-btn" class="btn btn-rust1 btn-sm">Clear</button>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Riwayat Presensi</h5>

            <!-- Flash message -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <i class="bi bi-check-circle me-1"></i> {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <table id="riwayat-absensi" class="table datatable">
              <thead>
                <tr>
                  <th scope="col">Tanggal</th>
                  <th scope="col">NIP</th>
                  <th scope="col">Nama</th>
                  <th scope="col">Clock In</th>
                  <th scope="col">Clock Out</th>
                </tr>
              </thead>
              <tbody>
                {% for item in data %}
                <tr>
                  <td>{{ item[1] }}</td>
                  <td>{{ item[2] }}</td>
                  <td>{{ item[3] }}</td>
                  <td>
                    {% if item[9] <= item[5] <=item[7] %} <span class="badge bg-green">{{ item[5] }}</span>
                      {% elif item[7] <= item[5] <=item[10] %} <span class="badge bg-burn">{{ item[5] }}</span>
                        {% else %}
                        <span class="badge bg-rust">{{ item[5] }}</span>
                        {% endif %}
                  </td>
                  <td>
                    {% if item[11] <= item[6] <=item[8] %} <span class="badge bg-burn">{{ item[6] }}</span>
                      {% elif item[8] <= item[6] <=item[12] %} <span class="badge bg-green">{{ item[6] }}</span>
                        {% elif item[9] <= item[6] <=item[11] %} <span class="badge bg-cedar">Belum Presensi</span>
                          {% else %}
                          <span class="badge bg-rust">{{ item[6] }}</span>
                          {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card px-2">
          <div class="card-body">

            <div class="col-md-8 col-lg-9">
              <div class="pt-4">
                <a href="{{ url_for('edit_jam_absen') }}">
                  <button type="submit" class="btn btn-rust1 btn-sm">Edit Waktu Presensi</button>
                </a>
              </div>
            </div>

            <h5 class="card-title">Waktu Presensi <span>| Today</span></h5>

            <div class="activity">
              <div class="activity-item d-flex">
                <div class="activite-label">{{ in_min }}-{{ clock_in }}</div>
                <i class="bi bi-circle-fill activity-badge text-green align-self-start"></i>
                <div class="activity-content"> Jam Masuk</div>
              </div>
              <div class="activity-item d-flex">
                <div class="activite-label">{{ clock_in }}-{{ in_max }}</div>
                <i class="bi bi-circle-fill activity-badge text-burnt align-self-start"></i>
                <div class="activity-content"> Jam Masuk <span>Max</span></div>
              </div>
              <div class="activity-item d-flex">
                <div class="activite-label"> Absen > {{ in_max }}</div>
                <i class="bi bi-circle-fill activity-badge text-rust align-self-start"></i>
                <div class="activity-content"> Pegawai <span>Telat</span></div>
              </div>
              <hr>
              <div class="activity-item d-flex">
                <div class="activite-label">{{ out_min }}-{{ clock_out }}</div>
                <i class="bi bi-circle-fill activity-badge text-burnt align-self-start"></i>
                <div class="activity-content"> Jam Pulang <span>Min</span></div>
              </div>
              <div class="activity-item d-flex">
                <div class="activite-label">{{ clock_out }}-{{ out_max }}</div>
                <i class="bi bi-circle-fill activity-badge text-green align-self-start"></i>
                <div class="activity-content"> Jam Pulang</div>
              </div>
              <div class="activity-item d-flex">
                <div class="activite-label"> Absen > {{ out_max }}</div>
                <i class="bi bi-circle-fill activity-badge text-rust align-self-start"></i>
                <div class="activity-content"> Bukan Waktu Absen</div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- Tambahkan script jQuery dan datepicker -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

  <!-- Text script/javascript -->
  <script>
    $(document).ready(function () {
      // Inisialisasi datepicker
      $('.datepicker').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true
      });

      // Tampilkan riwayat absensi setelah mengklik tombol "Tampilkan"
      $('#tampilkan-btn').click(function (e) {
        e.preventDefault();

        var start_date = $('#start_date').val();
        var end_date = $('#end_date').val();

        // Kirim permintaan AJAX ke server untuk mendapatkan data riwayat absensi berdasarkan tanggal
        $.ajax({
          url: "{{ url_for('data_absen') }}",
          method: "POST",
          data: {
            start_date: start_date,
            end_date: end_date
          },
          success: function (response) {
            // Perbarui bagian tabel riwayat absensi dengan data yang diterima dari server
            $('#riwayat-absensi').html(response);
          },
          error: function (xhr, status, error) {
            console.log(error);
          }
        });
      });

      // Klik tombol "Cetak" untuk menghasilkan PDF dari riwayat absensi
      $('#cetak-btn').click(function (e) {
        e.preventDefault();

        var start_date = $('#start_date').val();
        var end_date = $('#end_date').val();

        // Kirim permintaan AJAX ke server untuk menghasilkan PDF dari data absensi berdasarkan tanggal
        $.ajax({
          url: "{{ url_for('data_absen') }}",
          method: "POST",
          data: {
            start_date: start_date,
            end_date: end_date,
            cetak: true
          },
          xhrFields: {
            responseType: 'blob'
          },
          success: function (response) {
            // Membuat objek URL dari respons blob
            var url = URL.createObjectURL(response);

            // Membuat elemen anchor untuk mengunduh PDF
            var link = document.createElement('a');
            link.href = url;
            link.download = 'data_absen.pdf';
            link.click();

            // Menghapus objek URL setelah pengunduhan selesai
            URL.revokeObjectURL(url);
          },
          error: function (xhr, status, error) {
            console.log(error);
          }
        });
      });

      // Klik tombol "Clear" untuk menghapus nilai input tanggal dan menampilkan semua data riwayat absensi
      $('#clear-btn').click(function (e) {
        e.preventDefault();

        // Menghapus nilai input tanggal
        $('#start_date').val('');
        $('#end_date').val('');

        // Kirim permintaan AJAX ke server untuk mendapatkan semua data riwayat absensi
        $.ajax({
          url: "{{ url_for('data_absen') }}",
          method: "GET",
          success: function (response) {
            // Arahkan pengguna ke halaman data absen
            window.location.href = "{{ url_for('data_absen') }}";
          },
          error: function (xhr, status, error) {
            console.log(error);
          }
        });
      });
    });
  </script>

</main>

{% endblock %}