{% extends "pegawai/_layout.html" %}
{% block content %}

<main id="main" class="main">
  <div class="pagetitle px-3">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('dashboard_pegawai') }}">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
  <section class="section dashboard px-3">
    <div class="row">
      <div class="col-lg-12">
        <h1>{{ hari }}, {{ tanggal }} | <span id="clock"></span></h1><br>
      </div>

      <div class="col-lg-12">
        <div class="row">

          <div class="col-lg-6 col-md-6">
            <div class="card info-card green-card">
              <div class="card-body">
                <h5 class="card-title">Jam Masuk</h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-door-closed-fill"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ clock_in }}</h6>
                    <span class="text-muted small pt-2 ps-1">clock in</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="card info-card attend-card">
              <div class="card-body">
                <h5 class="card-title">Jam Pulang</h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-door-open-fill"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ clock_out }}</h6>
                    <span class="text-muted small pt-2 ps-1">clock out</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>
                  <li><a class="dropdown-item" href="{{ url_for('dashboard_pegawai', filter_type='This Month') }}">This
                      Month</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('dashboard_pegawai', filter_type='This Year') }}">This
                      Year</a></li>
                </ul>
              </div>
              <div class="card-body">
                <h5 class="card-title">Hadir <span>| {{ filter_type }}</span></h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-person-workspace"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ total_absensi }}</h6>
                    <span class="text-muted small pt-2 ps-1">jumlah</span>
                    <span class="text-success small pt-1 fw-bold">hadir</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>
                  <li><a class="dropdown-item" href="{{ url_for('dashboard_pegawai', filter_type='This Month') }}">This
                      Month</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('dashboard_pegawai', filter_type='This Year') }}">This
                      Year</a></li>
                </ul>
              </div>
              <div class="card-body">
                <h5 class="card-title">Terlambat <span>| {{ filter_type }}</span></h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-exclamation-circle-fill"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ total_terlambat }}</h6>
                    <span class="text-muted small pt-2 ps-1">jumlah</span>
                    <span class="text-success small pt-1 fw-bold">terlambat</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card customers-card">
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>
                  <li><a class="dropdown-item" href="{{ url_for('dashboard_pegawai', filter_type='This Month') }}">This
                      Month</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('dashboard_pegawai', filter_type='This Year') }}">This
                      Year</a></li>
                </ul>
              </div>
              <div class="card-body">
                <h5 class="card-title">Pulang Awal <span>| {{ filter_type }}</span></h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-hourglass-split"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ total_plg_awal }}</h6>
                    <span class="text-muted small pt-2 ps-1">jumlah</span>
                    <span class="text-success small pt-1 fw-bold">pulang awal</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</main>

<script type="text/javascript">
  var clockElement = document.getElementById("clock");

  function clock() {
    clockElement.textContent = new Date().toString().slice(15, 24);
  }

  setInterval(clock, 1000);
</script>

<br><br><br><br>

{% endblock %}