<table class="table datatable">
  <thead>
    <tr>
      <th scope="col">Tanggal Absen</th>
      <th scope="col">Clock In</th>
      <th scope="col">Clock Out</th>
    </tr>
  </thead>
  <tbody>
    {% for item in data %}
    <tr>
      <td>{{ item[1] }}</td>
      <td>
        {% if item[6] <= item[2] <=item[4] %} <span class="badge bg-green">{{ item[2] }}</span>
          {% elif item[4] <= item[2] <=item[7] %} <span class="badge bg-burn">{{ item[2] }}</span>
            {% else %}
            <span class="badge bg-rust">{{ item[2] }}</span>
            {% endif %}
      </td>
      <td>
        {% if item[8] <= item[3] <=item[5] %} <span class="badge bg-burn">{{ item[3] }}</span>
          {% elif item[5] <= item[3] <=item[9] %} <span class="badge bg-green">{{ item[3] }}</span>
            {% elif item[6] <= item[3] <=item[8] %} <span class="badge bg-cedar">Belum absen pulang</span>
              {% else %}
              <span class="badge bg-rust">{{ item[3] }}</span>
              {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  // Simple Datatable
  let table = document.querySelector('.table');
  let dataTable = new simpleDatatables.DataTable(table);
</script>