{% extends "pegawai/_layout.html" %}
{% block content %}

<main id="main" class="main">
  <div class="pagetitle px-3">
    <h1>Profil Admin</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('dashboard_pegawai') }}">Home</a></li>
        <li class="breadcrumb-item">User</li>
        <li class="breadcrumb-item active">Profil</li>
      </ol>
    </nav>
  </div>

  <section class="section px-3">
    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">

            <ul class="nav nav-tabs nav-tabs-bordered">
              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab">Overview</button>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('edit_profil_peg') }}">
                  <button class="nav-link" data-bs-toggle="tab">Edit
                    Profil</button>
                </a>
              </li>
            </ul>
            <br>

            <!-- Flash message -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <i class="bi bi-check-circle me-1"></i> {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <div class="tab-content mx-3">
              <div class="tab-pane fade show active profile-overview">

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">NIP</div>
                  <div class="col-lg-9 col-md-8">{{ nip }}</div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Nama Lengkap</div>
                  <div class="col-lg-9 col-md-8">{{ nama }}</div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">{{ email }}</div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Username</div>
                  <div class="col-lg-9 col-md-8">{{ username }}</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}